.mat-drawer-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
}

.sidenav {
    width: 300px;
}

.logo-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 16px;
}
