.user-detail-header {
    min-height: 250px;
    background-color: #ff5b27;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: unset;
    padding: 16px;

    img.user-detail-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.user-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 32px;
    height: 100px;

    h2 {
        margin-bottom: 0;
    }
}

.user-detail-address {
    margin-top: 32px;
}
